* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

form {
    padding: 0px;
    margin: 2em 2em 0px;
    display: block;
}

input {
    font-size: 16px;
    padding: 15px;
    width: 50%;
    border: 0.5px solid darkgrey;
    border-radius: 10px;
}

.gallery {
    display: grid;
    margin: 3em 4em;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 25px; 
    justify-content: center; 
}
  
.grid-item img {
    width: 100%;
}


