* {
    box-sizing: border-box;
}

.gallery-container {
    display: grid;
    margin: 4rem;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 25px; 
    justify-content: center; 
}
  
  .grid-item img {
    width: 100%;
    height: auto;
}


